/* ==========================================================================
   Mint skin
   ========================================================================== */

/* Colors */
$background-color: #FFF9F5 !default;
$text-color: #2B392E !default;
$muted-text-color: #44624A !default;
$primary-color: #44624A !default;
$border-color: #8BA888 !default;
$footer-background-color: #8ba888 !default;
$link-color: #EFC7C2 !default;
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: $text-color !default;
$navicon-link-color-hover: mix(#FFF2EA, $text-color, 80%) !default;

.page__footer {
  color: #FFF2EA !important; // override
}

.page__footer-follow .social-icons i,
.page__footer-follow .social-icons .svg-inline--fa {
  color: inherit;
}
